<body>
    <h1>Hello to {{ name }}, age {{ age }} </h1>

    <a href="/champions">
    <button>Chuyển tới Tướng</button>
    </a>
    
    <a href="/skins">
    <button>Chuyển tới Trang phục</button>
    </a>

</body>