<style>
  .error{
    color: red;
    margin: 0;
  }
  .success{
    color: green;
    margin: 0;
  }
  body{
    background: url(AnhNen.jpg);
    background-size: cover;
    background-color: #fce5f9;
  }
</style>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" class="logo_brand">
            <h2>Liên Minh Huyền Thoại</h2>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/trangbi">TRANG BỊ</a>
              </li>
              {{!-- <li class="nav-item">
                <a class="nav-link" href="/user/add">Add User</a>
              </li> --}}
          </div>
        </div>
      </nav>
</header>
<body>
  <div class="container" id="container">

    <nav class="navbar navbar-default">

      <a class="navbar-brand" href="#"><h2><b>TRANG BỊ TRÒ CHƠI</h2></a>

    </nav>

    <a>Thêm trang bị</a>
    {{#if error}} <p class="error">{{error}}</p>{{/if}}
    <form class="form-inline" method="POST" action="/trangbi/them">
      <div class="form-group">
        <input type="text" name="id" class="form-control" placeholder="Mã trang bị"><br/>
        <input type="text" name="name" class="form-control" placeholder="Tên trang bị"><br/>
        <input type="text" name="mt" class="form-control" placeholder="Mô tả trang bị"><br/>
        <input type="text" name="hu" class="form-control" placeholder="Hiệu ứng trang bị"><br/>
        <input type="text" name="gm" class="form-control" placeholder="Giá mua trang bị">
      </div>
      <br>
      <input type="submit" class="btn btn-primary" value="Thêm">
    </form>
    {{#if done}} <p class="success">{{done}}</p>{{/if}}
    <br/>
    <form method="GET" action="/trangbi">
      <input type="submit" class="btn btn-primary" value="Quay lại">
    </form>

  </div>
</body>
