<style>
  .error{
    color: red;
    margin: 0;
  }
  body {
        --color-1: #5F50BF;
        --color-2: #7382D9;
        --color-3: #1C66A6;
        --color-4: #1EB7D9;
        --color-5: #29C7D9;

        height: 100%;
        color: white;

        /*padding: 20px;*/
        background-image: url('https://c4.wallpaperflare.com/wallpaper/37/323/635/league-of-legends-shurima-blurred-video-games-wallpaper-preview.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" class="logo_brand">
            <h2>Liên Minh Huyền Thoại</h2>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/trangbi">TRANG BỊ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/trandau">TRẬN ĐẤU</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/champions">TƯỚNG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/skins">TRANG PHỤC</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/taikhoan">TÀI KHOẢN</a>
              </li>
              {{!-- <li class="nav-item">
                <a class="nav-link" href="/user/add">Add User</a>
              </li> --}}
          </div>
        </div>
      </nav>
</header>
<body>
  <div class="container" id="container">

    <nav class="navbar navbar-default">

      <a class="navbar-brand" href="#"><h2><b>LỊCH SỬ ĐẤU</h2></a>
    </nav>
    <a>Tìm kiếm người chơi</a>
    {{#if error}} <p class="error" style="green">{{error}}</p>{{/if}}
    <form class="form-inline text-center" method="POST" action="/trandau/view-history">
      <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="Tên người chơi">
      </div>
      <br>
      <input type="submit" class="btn btn-primary" value="Tìm kiếm">
      
    </form>
    <br/>
  </div>
</body>