<style>
  .error{
    color: red;
    margin: 0;
  }
  .tuan{
    background: url(AnhNen.jpg);
    background-size: cover;
  }
  .tuan1{
    color: white;
    margin: 0;
  }
</style>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" class="logo_brand">
            <h2>Liên Minh Huyền Thoại</h2>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/trangbi">TRANG BỊ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/trandau">TRẬN ĐẤU</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/champions">TƯỚNG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/skins">TRANG PHỤC</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/taikhoan">TÀI KHOẢN</a>
              </li>
              {{!-- <li class="nav-item">
                <a class="nav-link" href="/user/add">Add User</a>
              </li> --}}
          </div>
        </div>
      </nav>
</header>
<body class="tuan">
  <div class="container" id="container">

    <nav class="navbar navbar-default">

      <a class="navbar-brand" href="#"><h2><b>TRANG BỊ TRÒ CHƠI</h2></a>
    </nav>
    <div class="tuan1">Tìm kiếm trang bị</div>
    {{#if error}} <p class="error" style="green">{{error}}</p>{{/if}}
    <form class="form-inline text-center" method="POST" action="/trangbi/timkiem">
      <div class="form-group">
        <input type="text" name="id" class="form-control" placeholder="Mã hoặc tên trang bị">
      </div>
      <br>
      <input type="submit" class="btn btn-primary" value="Tìm kiếm">
    </form>
    <br/>
    <form class="text-center" method="GET" action="/trangbi/them">
      <input type="submit" class="btn btn-primary" value="Thêm">
    </form>
  </div>
</body>